x-logging: &default-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "3"

services:

  traefik:
    image: traefik:latest
    container_name: traefik
    restart: unless-stopped
    command:
      # --- 1. Dashboard & API ---
      - "--api.dashboard=true"
      - "--api.insecure=true" # Mở port 8081

      # --- 2. Docker Provider ---
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=furnimart_net" # Mạng cố định

      # --- 3. Entrypoints ---
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      # --- 4. HTTP -> HTTPS Redirect ---
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

      # --- 5. SSL (Let's Encrypt) ---
      - "--certificatesresolvers.myresolver.acme.httpchallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email=namphse173452@fpt.edu.vn"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"

      # --- Log ---
      - "--log.level=INFO"
      - "--accesslog=true"

    ports:
      - "80:80"
      - "443:443"
      - "8081:8080" # Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./letsencrypt:/letsencrypt"
    networks:
      - backend
    logging: *default-logging

  eureka-server:
    build: ./eureka-server
    container_name: eureka-server
    networks:
      - backend
    restart: unless-stopped
    logging: *default-logging

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    depends_on:
      - eureka-server
    networks:
      - backend
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=furnimart_net"
      - "traefik.http.routers.api-gateway.rule=Host(`furnimart.click`)"
      - "traefik.http.routers.api-gateway.entrypoints=websecure"
      - "traefik.http.routers.api-gateway.tls.certresolver=myresolver"
      - "traefik.http.services.api-gateway.loadbalancer.server.port=8080"
      - "traefik.http.routers.api-gateway.middlewares=api-ratelimit"
      - "traefik.http.middlewares.api-ratelimit.ratelimit.average=100"
      - "traefik.http.middlewares.api-ratelimit.ratelimit.burst=50"
    logging: *default-logging

  product-service:
    build: ./product-service
    container_name: product-service
    depends_on:
      - eureka-server
      - product-db
      - kafka
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://product-db:5432/product_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "false"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    logging: *default-logging

  product-db:
    image: postgres:16
    container_name: product-db
    restart: always
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5436:5432"
    volumes:
      - product_data:/var/lib/postgresql/data
    networks:
      - backend
    logging: *default-logging

  user-service:
    build: ./user-service
    container_name: user-service
    depends_on:
      - eureka-server
      - user-db
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://user-db:5432/user_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "false"
    logging: *default-logging

  user-db:
    image: postgres:16
    container_name: user-db
    restart: always
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5435:5432"
    volumes:
      - user_data:/var/lib/postgresql/data
    networks:
      - backend
    logging: *default-logging

  ai-service:
    build: ./ai-service
    container_name: ai-service
    env_file:
      - .env
    depends_on:
      - eureka-server
    networks:
      - backend
    restart: unless-stopped
    environment:
      GOOGLE_AI_API_KEY: ${GOOGLE_AI_API_KEY}
      SPRING_MAIN_ALLOW_BEAN_DEFINITION_OVERRIDING: "true"
      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: 50MB
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: 50MB
    logging: *default-logging

  order-service:
    build: ./order-service
    container_name: order-service
    depends_on:
      - eureka-server
      - order-db
      - kafka
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://order-db:5432/order_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "false"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    logging: *default-logging

  order-db:
    image: postgres:16
    container_name: order-db
    restart: always
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5437:5432"
    volumes:
      - order_data:/var/lib/postgresql/data
    networks:
      - backend
    logging: *default-logging

  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    depends_on:
      - eureka-server
      - inventory-db
      - kafka
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://inventory-db:5432/inventory_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "false"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: inventory-group
      SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
    logging: *default-logging

  inventory-db:
    image: postgres:16
    container_name: inventory-db
    restart: always
    environment:
      POSTGRES_DB: inventory_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5438:5432"
    volumes:
      - inventory_data:/var/lib/postgresql/data
    networks:
      - backend
    logging: *default-logging

  notification-service:
    build: ./notification-service
    container_name: notification-service
    depends_on:
      - eureka-server
      - kafka
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      SPRING_KAFKA_CONSUMER_GROUP_ID: notification-group
      SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET: earliest
    logging: *default-logging

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    depends_on:
      - eureka-server
      - delivery-db
      - kafka
    networks:
      - backend
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://delivery-db:5432/delivery_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 123456
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "false"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    logging: *default-logging

  delivery-db:
    image: postgres:16
    container_name: delivery-db
    restart: always
    environment:
      POSTGRES_DB: delivery_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5441:5432"
    volumes:
      - delivery_data:/var/lib/postgresql/data
    networks:
      - backend
    logging: *default-logging

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - backend
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis-data:/data
    labels:
      - "traefik.enable=false"
    logging: *default-logging

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
      ZOOKEEPER_SESSION_TIMEOUT_MS: 6000
      ZOOKEEPER_INIT_LIMIT: 10
      ZOOKEEPER_SYNC_LIMIT: 5
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 512m
    logging: *default-logging

  kafka:
    image: confluentinc/cp-kafka:7.4.4
    container_name: kafka
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "false"
      KAFKA_SOCKET_REQUEST_MAX_BYTES: 20971520
      KAFKA_MESSAGE_MAX_BYTES: 10485760
      KAFKA_REPLICA_FETCH_MAX_BYTES: 10485760
      KAFKA_HEAP_OPTS: "-Xmx512m -Xms512m"
      KAFKA_NUM_NETWORK_THREADS: 8
      KAFKA_NUM_IO_THREADS: 8
      KAFKA_BACKGROUND_THREADS: 10
      KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: 6000
      KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: 18000
      KAFKA_ZOOKEEPER_SYNC_TIME_MS: 2000
      KAFKA_LOG_RETENTION_HOURS: 24
      KAFKA_LOG_SEGMENT_BYTES: 104857600
      KAFKA_LOG_RETENTION_BYTES: 2147483648
      KAFKA_LOG_CLEANUP_POLICY: delete
      KAFKA_COMPRESSION_TYPE: producer
      KAFKA_PRODUCER_BATCH_SIZE: 16384
      KAFKA_BUFFER_MEMORY: 33554432
      KAFKA_LINGER_MS: 10
      KAFKA_AUTO_LEADER_REBALANCE_ENABLE: "true"
      KAFKA_UNCLEAN_LEADER_ELECTION_ENABLE: "false"
    networks:
      - backend
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1g
    logging: *default-logging

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: unless-stopped
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    networks:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=furnimart_net"
      - "traefik.http.routers.kafka-ui.rule=Host(`furnimart.click`) && PathPrefix(`/kafka-ui`)"
      - "traefik.http.routers.kafka-ui.entrypoints=websecure"
      - "traefik.http.routers.kafka-ui.tls.certresolver=myresolver"
      - "traefik.http.services.kafka-ui.loadbalancer.server.port=8080"
    logging: *default-logging

networks:
  backend:
    name: furnimart_net

volumes:
  user_data:
  product_data:
  order_data:
  inventory_data:
  delivery_data:
  redis-data:
