 server:
   port: 8080

 spring:
   application:
     name: api-gateway
   main:
     web-application-type: reactive
   cloud:
     gateway:
       server:
         webflux:
           discovery:
             locator:
               enabled: true
               lower-case-service-id: true
           routes:
             # USER SERVICE
                     - id: user-service
                       uri: lb://user-service
                       predicates:
                         - Path=/api/users/**, /api/auth/**, /api/stores/**, /api/blogs/**, /api/addresses/**, /api/staff/**, /api/wallets/**, /api/profile, /api/employees/**, /api/chats/**, /api/chat-messages/**, /api/favorites/**, /api/accounts/**
                       filters: []

                     # PRODUCT SERVICE
                     - id: product-service
                       uri: lb://product-service
                       predicates:
                         - Path=/api/products/**, /api/categories/**, /api/materials/**, /api/colors/**, /api/product-colors/**
                       filters: []

                     # NOTIFICATION SERVICE
                     - id: notification-service
                       uri: lb://notification-service
                       predicates:
                         - Path=/api/notifications/**
                       filters: []

                     # DELIVERY SERVICE
                     - id: delivery-service
                       uri: lb://delivery-service
                       predicates:
                         - Path=/api/deliveries/**, /api/delivery-confirmations/**, /api/delivery/**
                       filters: []

                     # ORDER SERVICE
                     - id: order-service
                       uri: lb://order-service
                       predicates:
                         - Path=/api/orders/**, /api/vouchers/**, /api/v1/**, /api/carts/**, /api/warranties/**
                       filters: []

                     # INVENTORY SERVICE
                     - id: inventory-service
                       uri: lb://inventory-service
                       predicates:
                         - Path=/api/inventories/**, /api/warehouses/**, /api/location-items/**, /api/zones/**
                       filters: []

                     # AI SERVICE
                     - id: ai-service
                       uri: lb://ai-service
                       predicates:
                         - Path=/api/ai/**
                       filters: []

                     - id: swagger-docs-route
                       uri: lb://api-gateway
                       predicates:
                         - Path=/v3/api-docs/**
                       filters: []

 jwt:
   secret: j4G$z8LpN9vJ^T3Qb7fE2k!wYcB1uL0zRxH5MvAhDpXsCgKj
   expiration: 3600000
   refreshExpiration: 604800000

 eureka:
   client:
     service-url:
       defaultZone: http://eureka-server:8761/eureka/
     register-with-eureka: true
     fetch-registry: true

 logging:
   level:
     org.springframework.cloud.gateway: DEBUG
     reactor.netty.http.client: DEBUG

 springdoc:
   enable-native-support: true
   api-docs:
     enabled: true
   swagger-ui:
     enabled: true
     path: /swagger-ui.html
     config-url: /v3/api-docs/swagger-config
     urls:
       - url: /api/users/v3/api-docs
         name: User Service
       - url: /api/products/v3/api-docs
         name: Product Service
       - url: /api/orders/v3/api-docs
         name: Order Service
       - url: /api/inventories/v3/api-docs
         name: Inventory Service
       - url: /api/notifications/v3/api-docs
         name: Notification Service
       - url: /api/deliveries/v3/api-docs
         name: Delivery Service
       - url: /api/ai/v3/api-docs
         name: AI Service

