server:
  port: 9000

spring:
  application:
    name: ai-service

  ai:
    openai:
      base-url: https://api.openai.com

      api-key: ${OPENAI_API_KEY:dummy_key} # Ưu tiên OPENAI_API_KEY, sau đó GOOGLE_API_KEY, cuối cùng là dummy_key
      chat:
        options:
          model: gpt-4o-mini # model nhỏ, tốc độ cao

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: ai-service-group
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "com.example.aiservice.event"

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
